.pacing-summary-grid.dz-table.ant-table-wrapper .ant-table .ant-table-container {
  tr.ant-table-expanded-row > td.ant-table-cell {
    height: auto;
    padding: 0;
    background: #fff;
  }
}

.pacing-summary-grid.dz-table.ant-table-wrapper {
  .pacing-child-table.ant-table-wrapper .ant-table.ant-table-small {
    margin-left: 1rem !important;
    margin-right: 3rem !important;

    .ant-table-content > table {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .ant-table-thead > tr > th {
      background: #ebeef0;

      &::before {
        display: none;
      }
    }

    .ant-table-tbody > tr > td {
      background: #f9fafb;
    }
  }
}
