.dz-content-panel-wrapper {
  height: 100%;
  position: relative;

  .dz-content-panel-scollable-container {
    max-height: calc(100vh - 5rem);
    min-height: calc(100vh - 5rem);
    overflow-y: auto;
  }
}
