.sider.dz-sider {
  &.dz-sider-mobile.dz-sider-collapsed {
    display: none;
  }

  &.dz-sider-mobile.dz-sider-expanded {
    position: absolute;
    top: var(--dz-sider-margin);
    bottom: var(--dz-sider-margin);
    left: var(--dz-sider-margin);
    z-index: 10;
  }

  .menu-wrapper {
    max-height: calc(100vh - 1rem - 3.5rem);
    padding: '0.5rem 0 1rem 0';
  }

  .scrollable-menu-container {
    max-height: calc(100vh - 2.5rem - 3.5rem);
    overflow-y: 'auto';
    overflow-x: 'hidden';
  }
}
