.custom-status-select {
  min-width: 16rem;
  width: 16rem;
  .ant-select-selector span {
    font-size: 0.875rem;
  }
  &.ant-select-single.ant-select-lg {
    font-size: 0.875rem;
    height: 2rem;
  }
}

.custom-selected-option {
  background-color: #e6f7ff;
  .ant-select-item-option-content {
    font-weight: bold;
  }
}
