.custom-range-picker-icon {
  .ant-picker-suffix {
    svg {
      color: #2563eb;
      fill: #2563eb;
    }
  }
}

.datepicker-container {
  .ant-picker {
    border: none;
    box-shadow: none;
  }
}
