.custom-range-picker-icon {
    .ant-picker-suffix {
        svg {
            color: #2563EB;
            fill: #2563EB;
        }
    }
}

.datepicker-container {
    .ant-picker {
        border: none;
        box-shadow: none;
    }
}